*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* ----- NAVBAR -----  */

#nav{
    background: #f9f9f9;
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}


.navbar-toggler span{
    color: red;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 750;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: red;
    color: rgb(255, 255, 255);
}

/* ----- NAVBAR -----  */




/* ----- HOME ----- */

.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(./img/canadeira_copiar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-visto{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(img/calgaryponte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.home .conteudo{
    text-align: center;
    padding-top: 200px;
}

.home .conteudo a{
    padding: 10px;
    background: white;
    color: #000;
    letter-spacing: 1px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.home .conteudo a:hover{
    background: #ff0000;
    color: #f9f9f9;
}

.home .conteudo h5{
    color: white;
    font-size: 38px;
    font-weight: 500px;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}


.home .conteudo p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.txt-pr{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
    padding-top: 30px;

}

/* ----- HOME ----- */




/* ----- ANIMAÇÂO TELA INICIAL ----- */

.changecontent::after{
    content: ' ';
    color: rgb(255, 5, 5);
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0% {content: "Toronto"; }
    10% { content: "Montreal"; }
    20% { content: "Vancouver"; }
    30% { content: "Calgary"; }
    40% { content: "Ottawa"; }
    50% { content: "Edmonton"; }
    60% { content: "Quebec City"; }
    70% { content: "Winnipeg"; }
    80% { content: "Mississauga"; }
    90% { content: "Brampton"; }
    100% { content: "Hamilton"; }
}



/* ----- ANIMAÇÂO TELA INICIAL ----- */




/* ----- SERVIÇOS ----- */
.servicos{
    background-color: #f9f9f9;
    margin-top: 50px;
}

.servicos .card{
    box-shadow: rgba(0,0, 0, 0.1) 0px 4px 12px black;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}


.servicos .card i{
    font-size: 80px;
    text-align: center;
    color: red;
    margin-top: 20px;
}

.servicos .card .card-body h3{
    font-weight: 600;
    text-align: center;
}

.servicos .card .card-body{
    text-align: center;
}
/* ----- SERVIÇOS ----- */




/* ----- IMAGENS ----- */
.photo-gallery {
    color:#000000;
  }
  
  
  .photo-gallery h2 {
    margin-bottom:40px;
    padding-top:10px;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  

/* ----- IMAGENS ----- */




/* ----- FOOTER ----- */

#rodape{
    width: 100%;
    margin-top: 100px;
    text-align: center;
    background: #f9f9f9;
}

#rodape h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 1px 1px black;
}

.redesocial i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #000000;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.redesocial i:hover{
    background: #ff0000;
}

/* ----- FOOTER ----- */




/* ----- TELA DE LOGIN ----- */

.register-photo {
    background:#ffffff;
    padding:80px 0;
  }
  
  .register-photo .imagemlogin {
    display:table-cell;
    width:auto;
    background:url(img/login.jpg);
    background-size:cover;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:2px 2px 6px rgba(0,0,0,0.1);
  }

  .register-photo .form-group a{
    text-decoration: none;
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background: rgb(216, 0, 0);
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#ff0000;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .ja {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  /* ----- TELA DE LOGIN ----- */



  /* ----- PACOTES CARD ----- */

  .pacotes .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0, 0, 0.1) 0px 4px 12px;
  }

  .pacotes .card img{
    border-radius: 5px;
  }

  .pacotes .card-body{
    background: transparent;
  }

  .pacotes .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
  }

  .pacotes .card .card-body p{
    font-size: 15px;
  }

  .checked{
    color: #ffd000;
  }