*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* ----- NAVBAR -----  */

#nav{
    background: #f9f9f9;
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

/* PINTAR LETRAS NO SEPARADOR <SPAN> */
#logosep{
    color: red;
}

.navbar-toggler span{
    color: red;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: red;
    color: black;
}



/* ----- NAVBAR -----  */

.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(./img/canadeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----- HOME ----- */

.home .conteudo{
    text-align: center;
    padding-top: 200px;
}

.home .conteudo h5{
    color: white;
    font-size: 38px;
    font-weight: 500px;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* Ainda não sei se vou usar desse jeito

.home span{
    color: red;
}

*/

/* ----- HOME ----- */

.txt-pr{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;

}


/* ----- SERVIÇOS ----- */

.servicos{
    background-color: #f9f9f9;
    margin-top: 50px;
}

.servicos .card{
    box-shadow: rgba(0,0, 0, 0.1) 0px 4px 12px black;
    border: none;
    cursor: pointer;
}

.servicos .card i{
    font-size: 80px;
    text-align: center;
    color: red;
    margin-top: 20px;
}

.servicos .card .card-body h3{
    font-weight: 600;
    text-align: center;
}

.servicos .card .card-body{
    text-align: right;
}

/* ----- SERVIÇOS ----- */


/* ----- FOOTER ----- */

#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}

#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 1px 1px black;
}