*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* ----- NAVBAR -----  */

#nav{
    background: #f9f9f9;
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}


.navbar-toggler span{
    color: red;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 750;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: red;
    color: black;
}



/* ----- HOME ----- */

.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(./img/canadeira_copiar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .conteudo{
    text-align: center;
    padding-top: 200px;
}

.home .conteudo h5{
    color: white;
    font-size: 38px;
    font-weight: 500px;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}


.home .conteudo p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}


/* ----- ANIMAÇÂO TELA INICIAL ----- */

.changecontent::after{
    content: ' ';
    color: rgb(255, 5, 5);
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0% {content: "Toronto"; }
    10% { content: "Montreal"; }
    20% { content: "Vancouver"; }
    30% { content: "Calgary"; }
    40% { content: "Ottawa"; }
    50% { content: "Edmonton"; }
    60% { content: "Quebec City"; }
    70% { content: "Winnipeg"; }
    80% { content: "Mississauga"; }
    90% { content: "Brampton"; }
    100% { content: "Hamilton"; }
}

.txt-pr{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
    padding-top: 30px;

}


/* ----- SERVIÇOS ----- */
.servicos{
    background-color: #f9f9f9;
    margin-top: 50px;
}

.servicos .card{
    box-shadow: rgba(0,0, 0, 0.1) 0px 4px 12px black;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}


.servicos .card i{
    font-size: 80px;
    text-align: center;
    color: red;
    margin-top: 20px;
}

.servicos .card .card-body h3{
    font-weight: 600;
    text-align: center;
}

.servicos .card .card-body{
    text-align: center;
}


/* ----- IMAGES ----- */
.photo-gallery {
    color:#000000;
  }
  
  

  
  .photo-gallery h2 {
    margin-bottom:40px;
    padding-top:10px;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  


/* ----- FOOTER ----- */

#rodape{
    width: 100%;
    margin-top: 100px;
    text-align: center;
    background: #f9f9f9;
}

#rodape h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 1px 1px black;
}

